<p>{{ user.firstName }} {{ user.lastName }} has added a new payment type <b>{{ paymentType.name }}</b> to ProjectPro.
</p>

<p>To undo this, <a href="{{ url('fos_user_security_login') }}">log in</a> to ProjectPro then go to go to Administration > Users > select the user that added the payment type and delete the payment type from their profile.</p>

{#<p>To undo this, <a href="{{ url('fos_user_security_login') }}">log in</a> to ProjectPro then go to go to#}
    {#Administration > Payment Types > and delete it.</p>#}

