<p>{{ user }} has submitted the following purchase from ProjEx mobile application.</p>

<p>Project: <b>{{ project }}</b><br>
    Payment Type: <b>{{ paymentType }}</b><br>
    Description: <b>{{ description }}</b><br>
    Amount: <b>{{ amount }}</b></p>

<p><a href="{{ url('fos_user_registration_register') }}">Click Here</a> to sign up for a FREE account and customize the way you receive this information.</p>

<p>Features available with a FREE Account: </p>
<ul>
    <li>Allow or require approval of purchases</li>
    <li>Remind field employees to submit purchases</li>
    <li>Remind Approvers to approve field purchases</li>
    <li>Import or Enter Project Budgets to match project names & cost codes to those in your accounting software</li>
    <li>Enter Payment Types to match those in your accounting software</li>
    <li>Reconcile approved purchases with credit card statements</li>
    <li>Export expenses as needed in excel or CSV format for importing into your accounting software</li>
    <li>Add users to ProjEx mobile app </li>
</ul>
<p>Not sure if you want a FREE account? <a href="https://www.youtube.com/watch?v=hRLUvwsyxoc" target="_blank">Watch a 2 minute video about the ProjectPro system</a></p>